<h2 mat-dialog-title>Добавление в корзину</h2>
<mat-dialog-content>
    <div class="d-flex flex-1 flex-row">
        <div class="d-flex flex-column w-50">
            <img *ngIf="data.pizza.imgUrl" class="pizza-image" src="{{ data.pizza.imgUrl }}" width="200px" height="200px"
                 alt="pizza preview"/>
            <img *ngIf="data.pizza.encodedImage" class="pizza-image" [src]="getImage(data.pizza.encodedImage)" width="200px" height="200px" alt="pizza preview"/>
        </div>
        <div class="d-flex flex-column w-50" [formGroup]="form">
            <div class="row no-gutters w-100">
                <div class="col font-size-16px font-weight-bolder">
                    {{ data.pizza.fullName }}
                </div>
            </div>

            <div class="row no-gutters w-100 pt-2 pb-2 px-2 description-row">
                <div class="col font-size-13px">
                    {{ data.pizza.composition }}
                </div>
            </div>

            <mat-form-field class="mt-2" appearance="fill">
                <mat-label>Размер</mat-label>
                <mat-select formControlName="size">
                    <mat-option *ngFor="let pizza of pizzaSizes" [value]="pizza.value">
                        {{ pizza.label }}
                    </mat-option>
                </mat-select>
            </mat-form-field>

            <mat-form-field appearance="fill">
                <mat-label>Тесто</mat-label>
                <mat-select formControlName="crust">
                    <mat-option *ngFor="let pizza of pizzaCrusts" [value]="pizza.value">
                        {{ pizza.label }}
                    </mat-option>
                </mat-select>
            </mat-form-field>

            <div class="row no-gutters w-100">
                Стоимость: {{ (getPrice() || 0) | number:'2.1-2' }} ₽
            </div>

        </div>
    </div>
</mat-dialog-content>

<mat-dialog-actions class="mt-4" align="end">
    <button class="btn btn-outline-primary mr-4" mat-dialog-close>Отмена</button>
    <button [disabled]="!(form.get('size').value && form.get('crust').value)" (click)="addItem()" class="btn btn-primary"
             cdkFocusInitial>
        Добавить в корзину
    </button>
</mat-dialog-actions>

