.cursor-pointer {
    cursor: pointer !important;
}

.h1-title {
    font-size: 26px;
    padding: 12px 12px 0px 12px;
}


/* Fonts */
.font-size-8px {
    font-size: 8px;
}

.font-size-10px {
    font-size: 10px;
}

.font-size-11px {
    font-size: 11px;
}

.font-size-12px {
    font-size: 12px;
}

.font-size-13px {
    font-size: 13px;
}

.font-size-14px {
    font-size: 14px;
}

.font-size-15px {
    font-size: 15px;
}

.font-size-16px {
    font-size: 16px;
}

.font-size-17px {
    font-size: 10px;
}

.font-size-18px {
    font-size: 10px;
}

.font-size-19px {
    font-size: 10px;
}

.font-size-20px {
    font-size: 10px;
}

.font-size-24px {
    font-size: 24px;
}

/* Colors */
.color-white {
    color: white;
}

.color-yellow {
    color: #ff9800;
}

.color-black {
    color: black;
}

/* Buttons */
.yellow-button {
    background-color: #ff9800;
    border-color: #ff9800;
}

.w-100 {
    width: 100% !important;
}

.w-40 {
    width: 40% !important;
}

.w-60 {
    width: 60% !important;
}

.flex-1 {
    flex: 1;
}

.border-none {
    border: none !important;
}

.border-grayer {
    border-color: gainsboro !important;
}

.ml-25 {
    margin-left: 25px;
}

.ml-40 {
    margin-left: 40px;
}

.btn-outline-primary {
    border-color: #ff9800;
    color: black;
}

.btn-primary:disabled {
    border-color: #C8964D;
    background-color: #C8964D;
}

.btn-primary {
    background-color: #ff9800;
    border-color: #ff9800;
}
